{% for b in book %}
<div class="col-sm-4">
    <div class="gal-detail thumb" style="background: #f8f9fa;border: 1px solid #ccc">
        <a href="{% url 'book:book_detail' b.id b.slug %}" class="image-popup" title="Screenshot-2"><img
                src="{{ b.book_cover.url }}" style="object-fit:cover;width:100%;height:250px;" class="thumb-img"
                alt="work-thumbnail">
        </a>
        <h4 class="text-center">{{ b.title }}</h4>
        <div class="ga-border"></div>
        <p class="text-muted text-center"><small>{{b.author}}</small></p>
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'book:read_book' b.id %}" style="font-size: larger"
                    class="btn btn-default btn-sm btn-favorite" role="button">
                    <span class="fa fa-star {% if b.is_read %}active{% endif %}"></span> Read
                </a>
            </div>


        </div>
    </div>
</div>
{% endfor %}